[Unit]
Description=Quadify in-place updater
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=volumio
Group=volumio
WorkingDirectory=/home/volumio/Quadify
ExecStart=/home/volumio/Quadify/scripts/quadify_autoupdate.sh
StandardOutput=journal
StandardError=journal
SuccessExitStatus=0

[Install]
WantedBy=multi-user.target
